RewriteEngine on

RewriteCond %{REQUEST_URI} ^.*\.(gif|png|jpe?g|css|js)
RewriteRule ^(.*)$  $1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
